{% macro feature_card(icon, title, description) %}
<div class="col mb-5 h-100">
    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
        <i class="bi {{ icon }}"></i>
    </div>
    <h2 class="h5">{{ title }}</h2>
    <p class="mb-0">{{ description }}</p>
</div>
{% endmacro %}
