{% macro section_header(title, subtitle) %}
<div class="text-center mb-5">
    <h1 class="fw-bolder">{{ title }}</h1>
    <p class="lead fw-normal text-muted mb-0">{{ subtitle }}</p>
</div>
{% endmacro %}
