{% macro team_member(image, name, role) %}
<div class="col mb-5 mb-xl-0">
    <div class="text-center">
        <img class="img-fluid rounded-circle mb-4 px-4" src="{{ image }}" alt="{{ name }}" />
        <h5 class="fw-bolder">{{ name }}</h5>
        <div class="fst-italic text-muted">{{ role }}</div>
    </div>
</div>
{% endmacro %}
